.img1>img
{
	width: 100%;	
}
img
{
height: 140px;
width: 170px;	
}

h3
{
	margin-left: 2%;	
}


.red
{    
     width: 100%;
}

.kolona
{

	width: 21%;
	display: inline-block;
}

.kolona>img
{
	width: 100%;
}

.red>img
{
	width: 100%;
}


@media only screen and (max-width: 700px) {
	
	.img1
{
	width: 100%;
}
h3
{
	margin-left: 2%;	
	font-size: 80%;
}

#okvir
{
	overflow-y:scroll;
}
.kolona
{
	width: 48%;
	display: inline-block;
}

.kolona>img
{
	width: 100%;
}

.red>img
{
	width: 100%;
}
}

